.text-block {
    font-size: 16px;
    line-height: 28px;
    color: #505050;
    margin: 22px 0 0 0;

}
.title {
    font-size: 32px;
    line-height: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4E5665;
    text-align: center;
}
.line {
    border-bottom: 1px solid #D0D4D8;
    padding: 0 0 80px 0;
}